## [Start] Setting "done" to default value of "false". **
$util.qr($context.args.input.put("done", $util.defaultIfNull($ctx.args.input.done, false)))
## [End] Setting "done" to default value of "false". **
{}